.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg);
    color: var(--text-color);
    font-size: 16px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    z-index: 1000;
    height: 50px;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}
.list {
    display: flex;        /* тоже строка */
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    transition: transform 0.2s ease, color 0.3s ease;
}

.link:hover {
    color: var(--accent-color);
    transform: scale(1.1);
    text-shadow: 0 0 8px #66ffff;
}
.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
}

.link:hover::after,
.activeLink::after {
    width: 100%;
}

.activeLink {
    font-weight: bold;
    color: var(--accent-color);
}

.logo {
    width: 180px;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(0 0 8px #66ffff);
    transition: filter 0.3s ease;

}
.logo:hover {
    filter: drop-shadow(0 0 16px #00ffff) brightness(1.2);
}

.themeBtn {
    margin-right: 30px;     /* ближе к краю, но не уползает */
    background: none ;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.themeBtn:hover {
    background: #66ffff;
    color: #1b1b2f;
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #66ffff);
}

[data-theme='dark'] .themeBtn {
    background: #52eeff;
}

[data-theme='light'] .logo {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

[data-theme='light'] .logo:hover {
    filter: brightness(1.1) drop-shadow(0 0 10px #66ffff);
}
[data-theme='light'] .link:hover {
    color: #0077AAFF;
    text-shadow: 0 2px 6px rgba(83, 112, 209, 0.45);
}


.icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

