.page {
    padding-top: 40px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    min-height: 100vh;
    box-sizing: border-box;
}

.page h1 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 1px;
    color: white;
}

[data-theme="light"] .page h1 {
    color: black;

}
