.container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    gap: 40px;
    padding: 40px 20px;
    color: var(--text-color);
}

.poster {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 32px;
    font-weight: 800;
    color: var(--accent-color);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

.overview {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.85;
}

.details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 12px;
    column-gap: 10px;
    font-size: 16px;
}

.details dt {
    font-weight: 700;
    color: var(--accent-color);
}

.details dd {
    margin: 0;
    opacity: 0.9;
}

.castContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 40px;
}
.similarContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 60px;
}
.castContainer,
.similarContainer h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--accent-color);
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.7);
}
.rating {
    max-width: max-content;
    padding: 4px 8px;
    background: #00ffc4;
    color: #000;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
}


