.section {
    padding-top: 20px;
    text-align: center;
}
.section:first-of-type {
    padding-top: 50px;
}

.section:last-of-type {
    margin-bottom: 50px;
}

.viewAll {
    display: flex;
    margin-top: 20px;
    width: 120px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.viewAll:hover {
    color: black;
    background: var(--accent-color);
    box-shadow: 0 0 12px var(--accent-color);
    transform: translateY(-2px);
}

[data-theme='light'] .viewAll:hover {
    color: white;
}
.viewAllWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}

