[data-theme="dark"] .skeletonCard {

    background: linear-gradient(90deg,
    #2c2f36 25%,
    #3b3f47 50%,
    #2c2f36 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.2s infinite linear;
}



[data-theme="light"] .skeletonCard {
    background: linear-gradient(90deg,
    #d5d7da 25%,
    #e3e5e8 50%,
    #d5d7da 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.2s infinite linear;
}

.skeletonCard {
    display: block;
    width: 100%;
    height: 380px;
    border-radius: 10px;
}

@keyframes skeleton-loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}
