.page {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

.page > * {
    padding-top: 20px;
    text-align: center;
}

.page > *:first-child {
    padding-top: 50px;
}

.page > *:last-child {
    margin-bottom: 60px;
}
