
.main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 60px;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-items: stretch;}

.card {
    position: relative;
    background: #1b1b2f;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    max-width: 240px;
    height: 380px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
            0 0 30px rgba(0, 255, 255, 0.6),
            0 0 60px rgba(0, 200, 255, 0.35);
}

.card:hover .title {
    color: #33f6ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    letter-spacing: 0.3px;

}

.cardLink {
    text-decoration: none;
    color: inherit;
}


.rating {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(0, 255, 133, 0.77);
    color: #000000;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    backdrop-filter: blur(4px);
}

.ratingLow{
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(242, 34, 52, 0.86);
    color: #000000;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    backdrop-filter: blur(4px);

}

.ratingMiddle{
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgba(242, 235, 95, 0.88);
    color: #000000;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    backdrop-filter: blur(4px);

}

.posterWrapper {
    width: 100%;
    height: 310px;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);

}
.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid var(--border-color);

}

.title {
    margin: 10px 0 12px;
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    padding: 0 6px;
    text-align: center;
}



[data-theme='light'] .card {
    background: #f4f4f4;
    border-color: #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

[data-theme='light'] .card:hover {
    border-color: #0099dd;
    box-shadow:
            0 0 22px rgba(0, 153, 221, 0.45),
            0 0 40px rgba(0, 153, 221, 0.25);
}

[data-theme='light'] .title {
    font-weight: 900;
    color: #1b1b2f;
}

[data-theme='light'] .card:hover .title {
    color: #0077AAFF;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}



.fav,
.favActive {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,0.55);
    cursor: pointer;
}

.fav svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: white;
}

.favActive svg {
    width: 20px;
    height: 20px;
    fill: red;
    stroke: red;
}

.fav:hover svg,
.favActive:hover svg {
    transform: scale(1.15);
    filter: drop-shadow(0 0 6px red);
}




@media (max-width: 900px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
}@media (max-width: 400px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
    }
}


