
.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}




.link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 36px;
    margin-top: 20px;

    font-size: 14px;
    font-weight: 600;
    color: var(--accent-color);

    border: 2px solid var(--accent-color);
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.link:hover {
    color: black;
    background: var(--accent-color);
    box-shadow: 0 0 12px var(--accent-color);
    transform: translateY(-2px);
}

[data-theme='light'] .link:hover {
    color: white;
}

.linkWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}
