.title {
    text-align: center;
    font-size: 250px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    border:1px solid #66ffff;
    border-radius: 10px;

}